---
import Layout from '../layouts/Layout.astro';
import About from '../components/sections/About.astro';
---
<Layout title="whiteglobalmarketing" >
 	<header class="py-8 bg-white" ></header>
	 <section> 
		 <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.46/build/spline-viewer.js"></script>
		 <spline-viewer url="https://prod.spline.design/pk6xwUQByfu2pLTc/scene.splinecode"></spline-viewer>
	 </section>
	<About />
</Layout>
